
    <mat-sidenav-container>
        <mat-sidenav class="mat-elevation-z8    ">
            <ul class="list">
            <li><a mat-list-item routerLink="/hr/list"> Home</a></li>
            <hr>
            <li><a mat-list-item routerLink="/hr/apply"> Employees</a></li>
            <hr>
            <li><a mat-list-item >Apply Leave </a></li>
           <hr>
           <li><a mat-list-item>Absance</a></li>
          </ul>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
               <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>