
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-4 sidebar1">
        
            <br>
            <div class="left-navigation">
                <ul class="list">
                    <h5><strong>WHEREABOUTS</strong></h5>
                    <li routerLink="/login">Home</li>
                    <li >Employees</li>
                    <li> Leaves </li>
                    <li>Gym</li>
                    <li>Art Class</li>
                    <li>Hike Club</li>
                </ul>

                <br>

                <ul class="list">
                    <h5><strong>HOBBIES</strong></h5>
                    <li>Hiking</li>
                    <li>Rafting</li>
                    <li>Badminton</li>
                    <li>Tennis</li>
                    <li>Sketching</li>
                    <li>Horse Riding</li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 col-sm-8 main-content">
        <!--Main content code to be written here --> 
       
    </div>
</div>