<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Emp</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="showHrBoard">
        <a href="/hr" class="nav-link" routerLink="hr"> <i class="fa fa-home" aria-hidden="true"></i> HR Board</a>
      </li>
      <li class="nav-item" *ngIf="showManagerBoard">
        <a href="/manager" class="nav-link" routerLink="manager"> <i class="fa fa-home" aria-hidden="true"></i> Manager Board</a>
      </li>
      <li class="nav-item" *ngIf="showUserBoard">
        <a href="/user" class="nav-link"  routerLink="user"> <i class="fa fa-home" aria-hidden="true"></i> Employee Board</a>
      </li>
      
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login"> <i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile"><i class="fa fa-user" aria-hidden="true"></i> {{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
  </div>
</div>

    <router-outlet></router-outlet>
 