
    
    <mat-sidenav-container>
        <mat-sidenav class="mat-elevation-z8    ">
            <ul class="list">
            <li><a mat-list-item routerLink="/hr/list"> Home</a></li>
            <hr>
            <li><a mat-list-item routerLink="/hr/apply"> Employees</a></li>
            <hr>
            <li><a mat-list-item routerLink=""> Home</a></li>
           </ul>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
               <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>

<!--
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-4 sidebar1">
        
            <br>
            <div class="left-navigation">
                <ul class="list">
                    <h5><strong>HR Board</strong></h5>
                    <hr>
                    <li >Home</li>
                    <hr>
                    <li>Employees</li>
                    <hr>
                    <li>Absences</li>
                    <hr>
                    <li>Attendance</li>
                    <hr>
                    <li>Salaries</li>
                    <hr>
                    <li>schedule</li>
                    <hr>
                    <li>My profile</li>
                </ul>

                <br>

            </div>
        </div>
</div>

-->