
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-4 sidebar1">
        
            <br>
            <div class="left-navigation">
                <ul class="list">
                    <h5><strong>HR Board</strong></h5>
                    <hr>
                    <li >Home</li>
                    <hr>
                    <li routerLink="/list" href="list">Employees</li>
                    <hr>
                    <li>Absences</li>
                    <hr>
                    <li>Attendance</li>
                    <hr>
                    <li>Salaries</li>
                    <hr>
                    <li>schedule</li>
                    <hr>
                    <li>My profile</li>
                </ul>

                <br>

            </div>
        </div>
        <div class="col-md-10 col-sm-8 main-content">
       
    </div>
</div>

