
mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: -webkit-linear-gradient(#4e657c, #54718f, #5b849b);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4e657c, #54718f, #5b849b);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradien(#4e657c, #54718f, #5b849b);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4e657c, #54718f, #5b849b);
    color: white;
    border-radius: 10px;
    padding: 16px;
    margin-left: 200px;
    text-align: center;
    visibility: visible!important;
}
.list a {
    color: #fff;
   font-size: medium;
   font-style:initial;
 

}
.list {
    color: #fff;
    list-style: none;
    padding-left: 0px;

}
.list::first-line {
    color: rgba(255, 255, 255, 0.5);
}
.list> li, h5 {
    padding: 5px 0px 5px 40px;
}
.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}.main-content{
text-align:center;
}

.content {
    border-radius: 10px;
    margin: 16px;
    margin-left: 210px;

    display: flex;
    justify-content: center;
    align-items: center;

}

mat-sidenav-container {
    height: calc(100vh - 65px);
    display: flex;
}